public/article-image.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SecurityLab</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/vendors.css?v=ca186b9" rel="stylesheet"><link href="/assets/css/main.css?v=e735e71" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-ascii">
        <div class="header-ascii__art"></div>
        <div class="header-ascii__lead">новости кибербезопасности</div>
      </div>
      <div class="header__block">
        <div class="header-logo"><a href="/" title="SecurityLab">
            <svg>
              <use href="/image/logo.svg#logo"></use>
            </svg></a></div>
        <div class="header__group">
          <nav class="header-menu">
            <ul>
              <li><a href="/blogs.html" title="Блоги">Блоги</a></li>
              <li><a href="#" title="PHDays">PHDays</a></li>
              <li><a href="#" title="The Standoff">The Standoff</a></li>
            </ul>
          </nav>
          <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
              <svg>
                <use href="/image/icon/menu.svg#menu"></use>
              </svg></a></div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu">
  <div class="menu-overlay" data-action="close-menu"></div>
  <div class="menu__container">
    <div class="menu__head">
      <div class="menu__link menu__link--close"><a href="#" data-action="close-menu" title="Закрыть меню">
          <svg>
            <use href="/image/icon/close.svg#close"></use>
          </svg></a></div>
      <div class="menu__link menu__link--back"><a href="#" data-action="close-submenu" title="Назад">
          <svg>
            <use href="/image/icon/back.svg#back"></use>
          </svg></a></div>
    </div>
    <div class="menu__main">
      <nav class="menu-navigation">
        <ul class="menu-navigation__list">
          <li class="menu-navigation__item"><a href="#" title="Новости">Новости</a></li>
          <li class="menu-navigation__item"><a href="#" title="Статьи">Статьи</a></li>
          <li class="menu-navigation__item"><a href="#" title="Уязвимости">Уязвимости</a></li>
          <li class="menu-navigation__item"><a href="/blogs.html" title="Блоги">Блоги</a></li>
          <li class="menu-navigation__item"><a href="#" data-action="open-submenu" data-submenu="glossary" title="Глосарий"><span>Глосарий</span>
              <svg>
                <use href="/image/icon/right.svg#right"></use>
              </svg></a>
            <ul class="menu-navigation__submenu" data-name="glossary">
              <li class="menu-navigation__item"><a href="#" title="Терминология">Терминология</a></li>
              <li class="menu-navigation__item"><a href="#" title="Хакерские группировки">Хакерские группировки</a></li>
              <li class="menu-navigation__item"><a href="#" data-action="open-links" data-links="soft" title="Каталог софта"><span>Каталог софта</span>
                  <svg>
                    <use href="/image/icon/right.svg#right"></use>
                  </svg></a>
                <ul class="menu-navigation__links" data-name="soft">
                  <li class="menu-navigation__link"><a href="#" title="Системные утилиты">Системные утилиты</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Сетевые утилиты">Сетевые утилиты</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Аппаратные утилиты">Аппаратные утилиты</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Беспроводные сети">Беспроводные сети</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Загрузочные антивирусные диски">Загрузочные антивирусные диски</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Защита от целенаправленных атак">Защита от целенаправленных атак</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Конкурентная разведка">Конкурентная разведка</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Ограничение доступа">Ограничение доступа</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Программы для веб-мастеров">Программы для веб-мастеров</a></li>
                  <li class="menu-navigation__link"><a href="#" title="Распределенная структура ложных целей">Распределенная структура ложных целей</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <ul class="menu-info">
        <li class="menu-info__item"><a href="#" title="Контакты">Контакты</a></li>
        <li class="menu-info__item"><a href="#" title="Реклама">Реклама</a></li>
        <li class="menu-info__item"><a href="#" title="Экспорт статей">Экспорт статей</a></li>
        <li class="menu-info__item"><a href="#" title="Карта сайта">Карта сайта</a></li>
      </ul>
      <ul class="menu-social">
        <li class="menu-social__item"><a href="tg://resolve?domain=SecLabNews" target="_blank" title="Телеграм">
            <svg>
              <use href="/image/icon/telegram.svg#telegram"></use>
            </svg></a></li>
        <li class="menu-social__item"><a href="//twitter.com/SecurityLabnews" target="_blank" title="Твиттер">
            <svg>
              <use href="/image/icon/twitter.svg#twitter"></use>
            </svg></a></li>
        <li class="menu-social__item"><a href="//vk.com/public47494392" target="_blank" title="ВКонтакте">
            <svg>
              <use href="/image/icon/vk.svg#vk"></use>
            </svg></a></li>
        <li class="menu-social__item"><a href="#" title="RSS">
            <svg>
              <use href="/image/icon/rss.svg#rss"></use>
            </svg></a></li>
      </ul>
    </div>
    <div class="menu-search">
      <form class="form menu-search__form" name="menu-search" action="/" autocomplete="off" accept-charset="utf-8">
        <fieldset class="form__line">
          <input class="form__input" type="search" name="search" required placeholder="Поиск" value="" title="Поиск">
          <div class="form__button">
            <div class="button button--search button--disabled"><a href="#" data-action="form-send" title="Найти">Найти</a></div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="article">
          <div class="container">
            <div class="article content">
              <aside class="article__sidebar">
                <div class="article__banner article__banner--small"><a href="#" target="_blank" title="Стань спикером на PHDAYS12"><img src="/image/banner/phdays12.jpg" srcset="/image/banner/phdays12@2x.jpg 2x" loading="lazy" alt="PHDAYS12"></a></div>
                <div class="article-feed slider">
                  <div class="article-feed__title">
                    <h2><span>_Лента</span></h2>
                  </div>
                  <div class="article-feed-list swiper-wrapper">
                    <article class="article-feed-list__item swiper-slide">
                      <div class="article-feed-list__head">
                        <time class="article-feed-list__date" datetime="2023-06-30">30 июн, 12:28</time>
                        <div class="article-feed-list__rubric"><a href="#" title="Инструменты">Инструменты</a></div>
                      </div>
                      <div class="article-feed-list__title"><a href="/article.html" title="Qualcomm тайно собирает данные со смартфонов пользователей без их согласия">
                          <h4>Qualcomm тайно собирает данные со смартфонов пользователей без их согласия</h4></a></div>
                    </article>
                    <article class="article-feed-list__item swiper-slide">
                      <div class="article-feed-list__head">
                        <time class="article-feed-list__date" datetime="2023-06-30">30 июн, 12:28</time>
                        <div class="article-feed-list__rubric"><a href="#" title="Инструменты">Инструменты</a></div>
                      </div>
                      <div class="article-feed-list__title"><a href="/article.html" title="ChaosGPT — новая нейросеть без моральных и этических ограничений">
                          <h4>ChaosGPT — новая нейросеть без моральных и этических ограничений</h4></a></div>
                    </article>
                    <article class="article-feed-list__item swiper-slide">
                      <div class="article-feed-list__head">
                        <time class="article-feed-list__date" datetime="2023-06-30">30 июн, 12:28</time>
                        <div class="article-feed-list__rubric"><a href="#" title="Инструменты">Инструменты</a></div>
                      </div>
                      <div class="article-feed-list__title"><a href="/article.html" title="Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux">
                          <h4>Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux</h4></a></div>
                    </article>
                    <article class="article-feed-list__item swiper-slide">
                      <div class="article-feed-list__head">
                        <time class="article-feed-list__date" datetime="2023-06-30">30 июн, 12:28</time>
                        <div class="article-feed-list__rubric"><a href="#" title="Инструменты">Инструменты</a></div>
                      </div>
                      <div class="article-feed-list__title"><a href="/article.html" title="Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии">
                          <h4>Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии</h4></a></div>
                    </article>
                  </div>
                </div>
              </aside>
              <article class="article__main">
                <div class="article__head">
                  <div class="article__image">
                    <picture>
                      <source srcset="/image/article/4.m.jpg, /image/article/4.m@2x.jpg 2x" media="(max-width: 991px)" type="image/jpeg"><img src="/image/article/4.jpg" srcset="/image/article/4@2x.jpg 2x" loading="eager" alt="Qualcomm тайно собирает данные со смартфонов пользователей без их согласия">
                    </picture>
                  </div>
                  <div class="article__title">
                    <h1><span class="animation-decode animation-decode--blue">Qualcomm тайно собирает данные со смартфонов пользователей без их согласия</span></h1>
                  </div>
                  <div class="article__preview">
                    <p>Ранее неизвестный вариант Royal с помощью одной команды может зашифровать все виртуальные машины</p>
                  </div>
                </div>
                <div class="article__details">
                  <time class="article__date" datetime="2023-06-30">30 июн, 12:28</time>
                  <ul class="article-tags">
                    <li class="article-tags__link"><a href="#" title="Новости">Новости</a></li>
                    <li class="article-tags__tag"><a href="#" title="#Linux">#Linux</a></li>
                    <li class="article-tags__tag"><a href="#" title="#ETAC">#ETAC</a></li>
                    <li class="article-tags__tag"><a href="#" title="#VMware">#VMware</a></li>
                    <li class="article-tags__tag"><a href="#" title="#Eqinix">#Eqinix</a></li>
                    <li class="article-tags__tag"><a href="#" title="#VirusTotal">#VirusTotal</a></li>
                  </ul>
                </div>
                <div class="article__body">
                  <div class="article__text">
                    <p>Исследователь кибербезопасности Уилл Томас из Центра анализа угроз Equinix (ETAC) обнаружил , что программа-вымогатель Royal Ransomware добавила поддержку шифрования устройств Linux к своим последним вариантам вредоносного ПО, нацеленным на виртуальные машины VMware ESXi.</p>
                    <p>Новый вариант Royal Ransomware выполняется с помощью командной строки и поддерживает нескольких флагов, которые дадут оператору частичный контроль над процессом шифрования:</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__main">
        <div class="footer-ascii">
          <div class="footer-ascii__art"><img src="/image/ascii/logo-1.svg" alt="SecurityLab"></div>
        </div>
        <div class="footer-copyright">_security<span>_lab_&copy;2023</span></div>
      </div>
      <div class="footer__navigation">
        <div class="footer__group">
          <nav class="footer-menu">
            <div class="footer-menu__title"><a href="#" title="Новости">Новости</a></div>
          </nav>
          <nav class="footer-menu">
            <div class="footer-menu__title"><a href="/blogs.html" title="Блоги">Блоги</a></div>
            <ul class="footer-menu__list">
              <li class="footer-menu__item"><a href="#" title="Личные блоги">Личные блоги</a></li>
              <li class="footer-menu__item"><a href="#" title="Блоги компаний">Блоги компаний</a></li>
              <li class="footer-menu__item"><a href="#" title="Правила публикаций">Правила публикаций</a></li>
            </ul>
          </nav>
          <nav class="footer-menu">
            <div class="footer-menu__title"><a href="#" title="Статьи">Статьи</a></div>
            <ul class="footer-menu__list">
              <li class="footer-menu__item"><a href="#" title="Мнения">Мнения</a></li>
              <li class="footer-menu__item"><a href="#" title="Конкурсы">Конкурсы</a></li>
            </ul>
          </nav>
          <nav class="footer-menu">
            <div class="footer-menu__title"><a href="#" title="Уязвимости">Уязвимости</a></div>
            <ul class="footer-menu__list">
              <li class="footer-menu__item"><a href="#" title="PT Research Lab">PT Research Lab</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__group">
          <nav class="footer-menu">
            <div class="footer-menu__title"><a href="#" title="Софт">Софт</a></div>
            <ul class="footer-menu__list">
              <li class="footer-menu__item"><a href="#" title="Системные утилиты">Системные утилиты</a></li>
              <li class="footer-menu__item"><a href="#" title="Сетевые утилиты">Сетевые утилиты</a></li>
              <li class="footer-menu__item"><a href="#" title="Беспроводные сети">Беспроводные сети</a></li>
              <li class="footer-menu__item"><a href="#" title="Конкурентная разведка">Конкурентная разведка</a></li>
              <li class="footer-menu__item"><a href="#" title="Программы для веб-мастеров">Программы для веб-мастеров</a></li>
              <li class="footer-menu__item"><a href="#" title="Разработка">Разработка</a></li>
              <li class="footer-menu__item"><a href="#" title="Активное противодействие">Активное противодействие</a></li>
            </ul>
          </nav>
          <nav class="footer-menu">
            <div class="footer-menu__title"><a href="#" title="О проекте">О проекте</a></div>
            <ul class="footer-menu__list">
              <li class="footer-menu__item"><a href="#" title="Контакты">Контакты</a></li>
              <li class="footer-menu__item"><a href="#" title="Реклама">Реклама</a></li>
              <li class="footer-menu__item"><a href="#" title="Экспорт статей">Экспорт статей</a></li>
              <li class="footer-menu__item"><a href="#" title="RSS">RSS</a></li>
              <li class="footer-menu__item"><a href="#" title="Использование материалов">Использование материалов</a></li>
              <li class="footer-menu__item"><a href="#" title="Обработка данных">Обработка данных</a></li>
              <li class="footer-menu__item"><a href="#" title="Карта сайта">Карта сайта</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__group">
          <nav class="footer-menu">
            <div class="footer-menu__title"><a href="#" title="PHDays">PHDays</a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=da32d7a"></script><script defer src="/assets/js/main.js?v=4c15106"></script></body>
</html>

src/view/article-image.pug
extends include/main

block variables
  - let title = 'SecurityLab'
  - let description = ''
  - let page = 'article'

block content
  section#article
    .container
      .article.content
        aside.article__sidebar
          .article__banner.article__banner--small
            a(href='#' target='_blank' title='Стань спикером на PHDAYS12')
              img(src='/image/banner/phdays12.jpg' srcset='/image/banner/phdays12@2x.jpg 2x' loading='lazy' alt='PHDAYS12')
          .article-feed.slider
            .article-feed__title
              h2
                span _Лента
            .article-feed-list.swiper-wrapper
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Qualcomm тайно собирает данные со смартфонов пользователей без их согласия')
                    h4 Qualcomm тайно собирает данные со смартфонов пользователей без их согласия
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='ChaosGPT — новая нейросеть без моральных и этических ограничений')
                    h4 ChaosGPT — новая нейросеть без моральных и этических ограничений
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux')
                    h4 Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии')
                    h4 Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии
        article.article__main
          .article__head
            .article__image
              picture
                source(srcset='/image/article/4.m.jpg, /image/article/4.m@2x.jpg 2x' media='(max-width: 991px)' type='image/jpeg')
                img(src='/image/article/4.jpg' srcset='/image/article/4@2x.jpg 2x' loading='eager' alt='Qualcomm тайно собирает данные со смартфонов пользователей без их согласия')
            .article__title
              h1
                span.animation-decode.animation-decode--blue Qualcomm тайно собирает данные со смартфонов пользователей без их согласия
            .article__preview
              p Ранее неизвестный вариант Royal с помощью одной команды может зашифровать все виртуальные машины
          .article__details
            time.article__date(datetime='2023-06-30') 30 июн, 12:28
            ul.article-tags
              li.article-tags__link
                a(href='#' title='Новости') Новости
              li.article-tags__tag
                a(href='#' title='#Linux') #Linux
              li.article-tags__tag
                a(href='#' title='#ETAC') #ETAC
              li.article-tags__tag
                a(href='#' title='#VMware') #VMware
              li.article-tags__tag
                a(href='#' title='#Eqinix') #Eqinix
              li.article-tags__tag
                a(href='#' title='#VirusTotal') #VirusTotal
          .article__body
            .article__text
              p Исследователь кибербезопасности Уилл Томас из Центра анализа угроз Equinix (ETAC) обнаружил , что программа-вымогатель Royal Ransomware добавила поддержку шифрования устройств Linux к своим последним вариантам вредоносного ПО, нацеленным на виртуальные машины VMware ESXi.
              p Новый вариант Royal Ransomware выполняется с помощью командной строки и поддерживает нескольких флагов, которые дадут оператору частичный контроль над процессом шифрования:
